---

---
<br>
<div class="giscus">
	<script
		src="https://giscus.app/client.js"
		data-repo="CrazySpottedDove/CrazySpottedDove.github.io"
		data-repo-id="R_kgDON1Sy5w"
		data-category="General"
		data-category-id="DIC_kwDON1Sy584Cm1I1"
		data-mapping="pathname"
		data-strict="0"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="dark"
		data-lang="zh-CN"
		data-loading="lazy"
		crossorigin="anonymous"
		async
	></script>
</div>
